{% extends "HealthApp/base_dashboard.html" %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    All Messages</h1>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-envelope fa-fw"></i> Unread Messages
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for message in unread_messages %}
                            <a href="#" data-toggle="modal"
                               data-target="#showMessage{{ message.id }}"
                               class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i> {{ message.sender }}
                                <span class="small">
                                                <em>{{ message.subject }}</em>
                                        </span>
                                <span class="pull-right text-muted small">
                                                <em>{{ message.sent_at }}</em>
                                        </span>
                            </a>
                            {% include "HealthApp/view_message_modal.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-envelope-o fa-fw"></i> Messages
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for message in messages %}
                            <a href="#" data-toggle="modal"
                               data-target="#showMessage{{ message.id }}"
                               class="list-group-item">
                                {% if message.unread == False %}
                                    <i class="fa fa-envelope-o fa-fw"></i> {{ message.sender }}
                                {% elif message.unread == True %}
                                    <i class="fa fa-envelope fa-fw"></i> {{ message.sender }}
                                {% endif %}
                                <span class="small">
                                                <em>{{ message.subject }}</em>
                                        </span>
                                <span class="pull-right text-muted small">
                                                <em>{{ message.sent_at }}</em>
                                        </span>
                            </a>
                            {% include "HealthApp/view_message_modal.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}