{% load static %}
<!-- Bootstrap Core CSS -->
<link href="{% static 'HealthApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="{% static 'HealthApp/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'HealthApp/dist/css/sb-admin-2.css' %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static 'HealthApp/vendor/morrisjs/morris.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'HealthApp/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

<!-- jQuery -->
<script src="{% static 'HealthApp/vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'HealthApp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'HealthApp/vendor/metisMenu/metisMenu.min.js' %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static 'HealthApp/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'HealthApp/vendor/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'HealthApp/data/morris-data.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'HealthApp/dist/js/sb-admin-2.js' %}"></script>

<!-- Calendar -->
<link href="{% static 'fullcalendar/fullcalendar.css' %}" rel='stylesheet'/>
<script src="{% static 'fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'fullcalendar/fullcalendar.min.js' %}"></script>
<script>
    var eventsList = {{ events|safe }};
    var event_id = "None";
    var appointment;

    $(document).ready(function () {
        $('#calendar').fullCalendar({
            eventClick: function (calEvent, jsEvent, view) {
                event_id = calEvent.id;
                $("#event-id-update").val(event_id);
                $('#updateAppointment').modal('show');

                // Find the selected appointment object
                for (event of eventsList) {
                    if (event.id == event_id) {
                        appointment = event;
                        break;
                    }
                }

                // Fill in the doctor drop down if it exists
                if ($("#updateAppointment #id_doctor").length == 1) {
                    var doctorPos = appointment.title.indexOf("Dr.");
                    var doctorStr = appointment.title.substr(doctorPos, appointment.title.indexOf(")", doctorPos) -
                        doctorPos + 1);

                    $("#updateAppointment #id_doctor option").each(function (index) {
                        if ($(this).html() == doctorStr) {
                            $("#updateAppointment #id_doctor").val($(this).val())
                        }
                    });
                }

                // Fill in the patient drop down if it exists
                if ($("#updateAppointment #id_patient").length == 1) {
                    var patientPos = appointment.title.indexOf("Patient");
                    var patientStr = appointment.title.substr(patientPos, appointment.title.indexOf(")") - patientPos
                        + 1);

                    $("#updateAppointment #id_patient option").each(function (index) {
                        if ($(this).html() == patientStr) {
                            $("#updateAppointment #id_patient").val($(this).val())
                        }
                    });
                }

                // Fill in the text fields
                $("#updateAppointment #id_start_time").val(appointment.start);
                $("#updateAppointment #id_end_time").val(appointment.end);
                $("#updateAppointment #id_notes").val(appointment.description);
            },
            defaultView: 'listDay',
            header: {
                left: 'today,listDay',
                center: 'prev title next',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            eventLimit: true,
            events: {{ events|safe }},
            eventRender: function (event, element) {
                element.find('.fc-title').append("<br/>" + event.description);
            }
        });
    });
</script>
<script>
    // Marks a message as read
    function markMsgRead(id) {
        // Check if this message is unread
        if ($("[name='message-" + id + "'] > div > strong").css("font-weight") == "bold") {
            // Make the ajax call
            $.get("/ajax/mark_read?id=" + id);

            // Update list entries
            $("[name='message-" + id + "'] > div > strong").css("font-weight", "normal");
            $("[name='all-message-" + id + "'] > i").removeClass("fa-envelope").addClass("fa-envelope-o");

            // Update unread count
            var unread = parseInt($("#unread-count").html()) - 1;
            if (unread == 0) {
                $("#unread-count").html("");
            } else {
                $("#unread-count").html(unread);
            }
        }
    }
</script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HealthNet - "It's Terrible but it Works"</title>

</head>

<body>

<div id="wrapper">

    {% include "HealthApp/send_message_modal.html" %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">HealthNet</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i>
                    <span id="unread-count">
                        {% if unread_messages %}
                            {{ unread_messages|length }}
                        {% endif %}
                    </span>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#" data-toggle="modal"
                           data-target="#sendMessage" class="text-center">
                            <div>
                                <strong>Send a Message</strong>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    {% if unread_messages %}
                        {% for message in unread_messages %}
                            <li>
                                <a name="message-{{ message.id }}" href="#" data-toggle="modal"
                                   data-target="#showmessage{{ message.id }}" onclick="markMsgRead({{ message.id }});">
                                    <div>
                                        <strong>{{ message.sender }}</strong>
                                        <span class="pull-right text-muted">
                                            <em>{{ message.sent_at }}</em>
                                        </span>
                                    </div>
                                    <div>{{ message.subject }}</div>
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li style="text-align: center;">No unread messages :D</li>
                    {% endif %}
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="{% url 'all_messages' %}">
                            <strong>View All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {% if user_type == "Patient" %}
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    {% elif user_type == "Doctor" or user_type == "Nurse" %}
                        <i class="fa fa-user-md fa-fw"></i> <i class="fa fa-caret-down"></i>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% if user_type == "Patient" %}
                        <li><a href="" data-toggle="modal" data-target="#updateProfile"><i class="fa fa-user fa-fw"></i>
                            User Profile</a>
                        </li>
                    {% endif %}
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'home' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    {% if user_type == "Doctor" or user_type == "Nurse" %}
                        <li>
                            <a href="#"><i class="fa fa-users fa-fw"></i> Patients<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'admitted_patients' %}">Admitted Patients</a>
                                </li>
                                <li>
                                    <a href="{% url 'all_patients' %}">All Patients</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    {% endif %}

                    <li>
                        <a href="{% url 'all_messages' %}"><i class="fa fa-envelope-open fa-fw"></i> All Messages</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    {% if user_type == "Patient" %}
        <div class="modal fade updateProfile" tabindex="-1" role="dialog"
             aria-labelledby="updateProfile" aria-hidden="true" id="updateProfile">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateProfileLabel">Update Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form role="form" method="post">
                        <div class="modal-body">
                            {% csrf_token %}
                            {{ profileForm }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <input type="submit" value="Save Changes" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% for message in unread_messages %}
        {% include "HealthApp/view_message_modal.html" %}
    {% endfor %}
    {% block content %}
    {% endblock content %}

</div>
<!-- /#wrapper -->

</body>

</html>
