<div class="modal fade showPatient{{ patient.social }}" tabindex="-1" role="dialog"
     aria-labelledby="showPatient{{ patient.social }}" aria-hidden="true"
     id="showPatient{{ patient.social }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="showPatientLabel">{{ patient.first_name }} {{ patient.last_name }}</h5>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#medInfo" data-toggle="tab">Medical Information</a>
                </li>
                {% if user_type == "Doctor" %}
                    <li><a href="#transfer" data-toggle="tab">Transfer Hospital</a>
                    </li>
                {% endif %}
                <li><a href="#admit" data-toggle="tab">Admit/Discharge</a>
                </li>
                <li><a href="#prescriptions" data-toggle="tab">Prescriptions</a>
                </li>
            </ul>

            <div class="modal-body">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade" id="medInfo">
                        <h4>Update Medical Information</h4>
                    </div>
                    {% if user_type == "Doctor" %}
                        <div class="tab-pane fade in active" id="transfer">
                            <form role="form" method="post">
                                <h4>Transfer Hospital</h4>

                                {% csrf_token %}
                                {{ setPatientHospitalForms|get_item:patient.username }}

                                <div class="modal-footer">
                                    <input type="submit" value="Make Transfer"
                                           class="btn btn-primary"/>
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <div class="tab-pane fade" id="admit">
                        <h4>Admit/Discharge</h4>
                    </div>
                    <div class="tab-pane fade" id="prescriptions">
                        <h4>Prescriptions</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>