<div class="modal fade showMessage{{ message.id }}" tabindex="-1" role="dialog"
     aria-labelledby="showMessage{{ message.id }}" aria-hidden="true"
     id="showMessage{{ message.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="showMessageLabel">{{ message.subject }}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" method="post">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <input type="submit" value="Save Changes"
                           class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>